h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0C2140;
    border-bottom: 1px solid #dedede;
}

* {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)  !important;
}

.logo {
    margin-top: 5px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: normal;
    color: #eee;
}

.logo a {
    color: #eee;
    text-decoration: none;
}

.logo img {
    vertical-align:top;
    width: 28px;
}

.navbar {
    padding: 5px 20px;
    background: linear-gradient(#666, #555);
    display: none;
    border: 0px;
}

.navbar .logo {
    float: left;
}

.navbar .open-sidebar {
    float: right;
}

.open-sidebar button {
    display: inline;
    height: 40px;
    width: 40px;
    background-color: #666;
    border: 1px solid #eee;
    padding: 5px;
}

.bar {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #fff;
    margin: 4px 0px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(#666, #555);
    border-right: 1px solid #999;
}

.nav-sidebar {
    margin: 0 -20px 0 -20px;
    padding: 0;
    list-style-type: none;
    color: #fff;
    background: #999;
}

.nav-sidebar a {
    display: block;
    background: linear-gradient(#dedede, #ddd);
    margin: 4px 0;
    padding: 3px 30px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    color: #0C2140;
    font-size: 16px;
}

.nav-sidebar-header {
    background: linear-gradient(#888, #666);
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    padding: 5px 0 5px 20px;
    margin: 5px 0;
    font-weight: bold;
    color: #eee;
    font-size: 17px;
}

section {
    margin: 2% 3% 5% 240px;
}

footer {
    margin: 2% 3% 5% 240px;
    text-align: center;
    bottom: 0;
    height: 30px;
}

pre.prettyprint {
    overflow: auto;
    word-wrap: normal;
}

@media screen and (max-width: 768px) {
    .logo {
        margin-bottom: 0px;
    }

    .navbar {
        display: block;
    }

    .sidebar {
        transition: all .5s ease;
        left: -500px;
    }

    #side-logo * {
        display: none;
    }

    #side-logo {
        height: 40px;
    }

    section {
        margin-top: 75px;
    }

    footer, section {
        margin-left: 3%;
    }
}