<footer id="footer">
    Year4000 &copy; 2014 version
    <code>
    {% if site.github.build_revision %}
        {% assign hash = site.github.build_revision | truncate: 10 | replace:'...', '' %}
        <a href="{{ site.github.repository_url }}/commit/{{ site.github.build_revision }}" target="_blank">{{ hash }}</a>
    {% else %}
        local
    {% endif %}
    </code>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ "/js/bootstrap.js" | prepend: site.url }}"></script>
<script src="{{ "/js/script.js" | prepend: site.url }}"></script>