<div class="navbar navbar-default navbar-fixed-top">
    <div class="logo">
        <a href="//www.year4000.net/"><img src="{{ "/img/logo.png" | prepend: site.url }}"></a> / <a href="{{ site.url }}">{{ site.title }}</a>
    </div>
    <div class="open-sidebar">
        <button id="bar" class="fa" onClick="toggle_sidebar()">
            <div class="bar">&nbsp;</div>
            <div class="bar">&nbsp;</div>
            <div class="bar">&nbsp;</div>
        </button>
    </div>
</div>

<aside id="side" class="sidebar span4">
    <div id="side-logo" class="logo">
        <a href="//www.year4000.net/"><img src="{{ "/img/logo.png" | prepend: site.url }}"></a> / <a href="{{ site.url }}">{{ site.title }}</a>
    </div>
    <ul class="nav-sidebar">
        {% for group in site.collections %}
            <li class="nav-sidebar-header">{{ group[1].name }}</li>
            {% assign group_content = group[1].docs | sort: 'weight' %}
            {% for section in group_content %}
                <li><a href="{{ section.url }}">{{ section.title }}</a></li>
            {% endfor %}
        {% endfor %}
    </ul>
</aside>