<aside class="sidebar span4">
    <div class="logo">
        <a href="{{ site.url }}"><img src="{{ "/img/logo.png" | prepend: site.url }}"><br/>{{ site.title }}</a>
    </div>
    <ul class="nav-sidebar">
        <li class="nav-sidebar-header">MapNodes</li>
        <li><a href="#resources">Map Resources</a></li>
        <li><a href="#map">Map Component</a></li>
        <li><a href="#game">Game Component</a></li>
        <li><a href="#kits">Kits Component</a></li>
        <li><a href="#teams">Teams Component</a></li>
        <li><a href="#classes">Classes Component</a></li>
        <li><a href="#template">Blank Map Template</a></li>
    </ul>
</aside>