<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

{% include sidebar.html %}

<section>

<div class="nav-tabs-wrapper">
<div class="nav-tabs-view">
<ul class="nav nav-tabs">

{% for tab in page.tabs %}

{% if tab == page.tabs.first %}

<li class="active"><a href="#{{ tab.last.data }}" data-toggle="tab">{{ tab.last.name }}</a></li>

{% else %}

<li ><a href="#{{ tab.last.data }}" data-toggle="tab">{{ tab.last.name }}</a></li>

{% endif%}


{% endfor%}

</ul>
</div>
</div>

<article class="tab-content">

{{ content }}

</article>
</section>

{% include footer.html %}

</body>
</html>
