<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

{% include sidebar.html %}

<section>

<div class="alert alert-dismissable alert-warning">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>Out dated information.</h4>
  <p>The information on this site is outdated untill the release of MapNodes v2</p>
</div>

<ul class="nav nav-tabs">

{% for tab in page.tabs %}

{% if tab == page.tabs.first %}

<li class="active"><a href="#{{ tab.last.data }}" data-toggle="tab">{{ tab.last.name }}</a></li>

{% else %}

<li ><a href="#{{ tab.last.data }}" data-toggle="tab">{{ tab.last.name }}</a></li>

{% endif%}


{% endfor%}

</ul>

<article class="tab-content">

{{ content }}

</article>
</section>

{% include footer.html %}

</body>
</html>
